.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 6rem;
    font-size: 1.2rem;
    gap: 5px;
}

.pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover {
    background-color: #5AB1BB;
    color: #fff;
}

.pagination .active {
    background-color: #5AB1BB;
}

/* Image on Profile page */
.card-header {

}

.sign-form-lock-container {
    width: 83px;
    height: 83px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100px;
    position: relative;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.05);
    background-color: rgb(238, 230, 230);
    margin: 0 auto;
    display: block;
    position: relative;
}

.lock-icons {
  width: 40px;
  height: 40px;
  color: rgb(57, 57, 141);
  padding: 20px;
  border-radius: 50px;
  border: 2px solid rgb(57, 57, 141);
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
}

.upload-pic-text {
    position: absolute;
    font-size: 12px;
    height: 30px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

#upload-pic-input {
    display: none;
}